server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    root   /var/www/html;
    index  index.html;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    #location / {
    #    return 404;
    #}

    # certbot
    location ^~ /.well-known/acme-challenge/ {
        #alias /var/www/letsencrypt/.well-known/acme-challenge/;
        root /var/www/letsencrypt/;
        default_type text/plain;
        allow all;
    }

}


# Prevent processing requests with undefined server names
# @see https://nginx.org/en/docs/http/request_processing.html
server {
    listen      80;
    server_name "";
    return      444;
}
